@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class^="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-container a{
    padding: 5px 0;
    display: block;
    color: #666666;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}
.all-icons h5{
    margin-top: 60px;
}
.all-icons > div > .row:first-child h5{
    margin-top: 15px;
}

.places-buttons .btn{
    margin-bottom: 30px
}

.buttons-with-margin .btn{
    margin: 5px;
}

.buttons-with-margin .btn-group .btn{
    margin: 5px 0px 0px 0px;
}

.animated .img-rounded{
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}
.animated .img-rounded img{
    width: 100%;
}
.heart {
    color: #EB5E28;
    animation: heathing 1s ease infinite;
}

@keyframes heathing{
    0% {
        transform: scale(0.75);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.75);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(0.75);
    }
}


/* custom classes */
.x-large {
    width: 90%
}

.align-top {
    vertical-align: baseline !important;
}
.form-group-gray{
    background-color: lightgray;
}
.name-avatar{
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
.name-avatar-md{
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 200px;
    border: 2px dashed #f69c55;
    width: 100px;
    border-color: gray;
}

.avatar-md{
    width: 100px !important;
    height: 100px !important;
}



.foodCategoriesBody{
font-size: 25px;
padding: 10px
}

.foodCategoriesButton{
 padding:8px;
 border-radius: 10px;
 font-size: 12px;
 cursor: pointer;
 color: white;
 background-color:#3A9CF3;
 float: right;
border:3px inset #afafaf;
}
.foodCategoriesButton:hover{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.addOn{
    float: left;
    padding:5px;
}

.actionButton{
  padding: 5px;
  margin: 4px 2px;
  display: inline-block;
   text-decoration: none;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  border-left: 2px inset #c3a4ec;
  border-bottom: 1px inset #c3a4ec;

}
.actionButton:hover{
border-left: 1px inset #c3a4ec;
  border-bottom: 0px inset #c3a4ec;
  
}
.addOnButton{
    background-color:#f69c55
}

.status{
    color:#fd2d2d
}

.editButton{
    color:red;
}


.edit_button{
color:#138dc9;
font-size:20px;
cursor: pointer

}

.delete_button{
font-size:20px;
cursor: pointer;
color:red;
}
.add_button{
font-size:15px;
cursor: pointer;
color:white;
float: right
}

.image_Scroll{
  max-height: 380px;
  overflow: scroll
}

.image_container {
  position: relative;
  text-align: center;
  color: white;
}
.top_right {
  position: absolute;
  top: -169px;
    right: -100px;
}

.title_bar{
    background-color: #4f687e;
    padding: 17px;
    border-radius: 6px;
    color: white;
    font-size: 20px
}
.title_bar .fa-pencil{
   color:#0091ff;
   padding-right: 15px;
   font-size: 20px
}

.plus{
font-size:30px;
cursor: pointer;
color:#870001;
}

.edit_about_button{
    float: right;
    color: #ffa534;
     cursor:pointer;
}
    .restaurant_header{
    background-color: #8462b9;
    border-radius: 10px;
    padding: 20px;
    color: white;
   ;
    }

     .restaurant_header .options{
        cursor: pointer;
        font-size: 12px;
        text-align: center
    }
    .restaurant_header .options:hover{
        background-color: #993399;
        border:1px solid #993399;
        border-radius: 5px
    }

     .restaurant_header .options .fa{
       font-size: 20px
     }

      .restaurant_header .selected{
       background-color: #993399;
        border:1px solid #993399;
        border-radius: 5px;
        cursor: pointer;
        text-align: center
     }
  

    .drag_category{
   color: #2a1dea;
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    }

.viewModel .modal-dialog{
    width: 1000px !important;
}

.order_detail{
    color: #656565;
    padding: 5px;
}

.orderFields{
  padding-bottom: 5px;
}

.dimensions .modal-dialog{
    width: 950px !important;
}
.dimensions1 .modal-dialog{
    width: 500px !important;
}

.mdhead{
    background:#414141 !important;
 
}
.mdhead h4{
    color: #fff !important;
    font-weight: 700 !important;
}
.mdhead .close {
    margin-top: 6px !important;
    opacity: 1 !important;
    color: #fff !important;
    font-weight: 700 !important;
}
.fwf{
    font-weight: 300 !important;
    font-size: 14px !important;
}
.padd-0{
    padding: 0px !important;
}
.privileges{
    border: 1px solid #de9f9f;
    padding: 4px;
    border-radius: 5px;
    background-color: #fdd9db;
}

/*//////////////////// comment thread  ////////////////////////////// */

/**********************************/
/*Share Comments*/
/*********************************/

.shareCommentContainer{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
}


.shareCommentContainer textarea {
  height: 100px;
  padding: 20px;
  width: 100%;
  border: 1px solid #F2F2F2;
  outline: none;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  
}

.shareCommentContainer .btn-success{
  padding: 6px 15px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 9px;
  border: medium none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #5cb85c;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #fff;
}
/**********************************/
/*Display Comments*/
/*********************************/

.commentContainer {
  position: relative;
  max-width:  60%;
  height: auto;
  margin: 20px 10px;
  padding: 10px;
  border: 1px solid #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
  border-radius: 4px;  
}

.commentName{
    float: left;
    font-size: 14px;
    font-weight: bold
}
.commentDate{
    float:right;
   font-size: 9px;
    color: #7cc67c;;
}

.commentText {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}

.commentText > textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #F2F2F2;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}


/*//////////////////// comment thread  ////////////////////////////// */

.dropzone_box {
    float: left;
    width: 100%;
    height: 160px;
    padding: 5px;
    box-sizing: border-box;
}

.dropzone_box  .wrapAdd {
    background: #9fa09f;
    height: 100%;
    text-align: center;
    padding-top: 31px;
    box-sizing: border-box;
    font-size: 49px;
    background-size: contain !important;
    background-position: center center !important;
    border: 1px solid #9fa09f;
    color:#7be47b;
    border-radius: 5px;
    cursor: pointer
}

.dropzone_box  .wrapImage {
    padding-top: 31px;
    box-sizing: border-box;
    background-size: contain !important;
    background-position: center center !important;
    border: 1px solid #9fa09f;
    border-radius: 5px;
    cursor: pointer
}

.commentScroll{
    max-height: 350px;
    overflow: scroll
}

.galleryScroll{
    max-height: 480px;
    overflow: scroll
}
/* /////////////////////////
         review 
////////////////////// */


.sizeofavatar{
    height: 70px !important;
    width: 70px !important;
    line-height: 70px !important;
}

.paddl-30{
    padding-left: 30px !important;
}

.lbl p{
    border: 3px solid #b92f27 !important;
    color: #b92f27 !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    text-align: center;
    border-radius: 5px;
    padding: 5px !important;
}
.lbl p:hover{
    background: #b92f27;
    color: #fff !important;
}